body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 0%, rgba(44,30,253,1) 84%);
   
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10rem;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.1);
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
   
    padding: 10px 0;
  }

  li:last-child {
    border-bottom: none;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    text-decoration: underline;
    color: #555;
  }
  .button {
    display: inline-block;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(38, 38, 38));
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }